[project]
name = 'bit-pulse'
description = 'Performance-based fund release system on Stacks'
authors = []
telemetry = true
cache_dir = './.cache'
requirements = []

[contracts.milestone-tracker]
path = 'contracts/milestone-tracker.clar'
clarity_version = 4
epoch = '3.3'

[repl.analysis]
passes = ['check_checker']

[repl.analysis.check_checker]
strict = false
trusted_sender = false
trusted_caller = false
callee_filter = false

[repl.remote_data]
enabled = false
api_url = 'https://api.hiro.so'
